[includeIf "gitdir:~/workplace/mobile/"]
    path = ~/.config/dotAsFiles/apps/git/company/.gitconfig

[includeIf "gitdir:~/workplace/asanchez/"]
    path = ~/.config/dotAsFiles/apps/git/dev/.gitconfig  

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[user]
    name = asanchez
